<ul class="navbar-nav site-navigation sf-menu mr-auto">
  <li class="nav-item">
      <a class="nav-link active" href="#">Hotel</a>
  </li>
  <li class="nav-item">
      <a class="nav-link" href="#">Home stay</a>
  </li>
  <li class="nav-item">
      <a class="nav-link" href="#">Travel</a>
  </li>
  <li class="nav-item">
      <a class="nav-link" href="#">Charity</a>
  </li>
</ul> <!-- .site-navigation -->

<div class="quick-contact-top hidden-lg-down">
  <span>We help you on your way !</span><h4 class="mb-0">855 77 999 123 <span>or</span> <a href="#"><span>Live chat</span></a></h4>
</div> <!-- .quick-contact-top -->

<ul class="nav site-tools">
  <li class="nav-item navbar-languages dropdown">
    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"><i class="icon-flag-gb"></i>EN
    </a>
    <ul class="dropdown-menu">
        <li><a href="#" class="dropdown-item"><i class="icon-flag-kh"></i>Khmer</a></li>
        <li><a href="#" class="dropdown-item"><i class="icon-flag-cn"></i>Chinese</a></li>
        <li><a href="#" class="dropdown-item"><i class="icon-flag-gb"></i>English</a></li>
    </ul>
  </li>
  <li class="nav-item navbar-currency dropdown">
    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"><i class="fa fa-usd"></i> USD</a>
    <ul class="dropdown-menu">
      <li><a href="#" class="dropdown-item"><i class="fa fa-eur"></i> Euro</a></li>
      <li><a href="#" class="dropdown-item"><i class="fa fa-gbp"></i> Pound</a></li>
      <li><a href="#" class="dropdown-item"><i class="fa fa-jpy"></i> Yen</a></li>
      <li><a href="#" class="dropdown-item"><i class="fa fa-rub"></i> Russian Ruble</a></li>
    </ul>
  </li>
  <li class="nav-item navbar-register hidden-md-down">
    <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#signup-modal">Register</button>
  </li>
  <li class="nav-item navbar-login hidden-md-down">
    <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#signin-modal">Sign In</button>
  </li>
</ul> <!-- .site-tools -->
