<!-- Start Addon mobile menu -->
<nav id="mobile-menu-alternative" class="mobile-nav">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link active" href="index.html"><i class="fa fa-home"></i> Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#"><i class="fa fa-briefcase"></i> CF Projects</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#"><i class="fa fa-medkit"></i> Partner Projects</a>
    </li>
  </ul>

  <ul class="nav flex-column">
    <li class="nav-item">
        <a id="signin-menu-mobile-alt" class="nav-link" href="#signin-modal" data-toggle="modal"><i class="fa fa-sign-in"></i> Login</a>
    </li>
    <li class="nav-item">
        <a id="signup-menu-mobile-alt" class="nav-link" href="#signup-modal" data-toggle="modal"><i class="fa fa-sign-out"></i> Register</a>
    </li>
  </ul>

  <ul class="nav flex-column">
      <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa fa-question-circle"></i> Helps</a>
      </li>
  </ul>
</nav> <!-- #mobile-menu-alternative -->
