<div class="modal fade" id="signin-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="container-fluid">
          <div class="sign-fb-gplus text-center">
            <div class="row">
              <div class="col-sm-6"><a href="#" title="Sign in with Facebook" class="btn btn-sm btn-block btn-facebook"><i class="fa fa-facebook"></i> Facebook</a></div>
              <div class="col-sm-6"><a href="#" title="Sign in with Google+" class="btn btn-sm btn-block btn-google-plus"><i class="fa fa-google-plus"></i> Google+</a></div>
            </div> <!-- .row -->
          </div>
          <p class="text-center">or with your email</p>
          <form class="user-form-signin">
            <div class="form-group">
              <label for="email" class="form-control-label">Email Address:</label>
              <input type="email" class="form-control" id="email" name="email" placeholder="your email address">
                  </div>
                  <div class="form-group">
              <label for="pass" class="form-control-label">Password:</label>
              <input type="password" class="form-control" id="pass">
              <a href="#" class="text-right d-block" title=""><small class="form-text text-muted">Forgot password</small></a>
                  </div>
                  <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary btn-block">Sign in</button>
                  </div>
              </form>
          </div> <!-- .container-fluid -->
      </div> <!-- .modal-body -->
      <div class="modal-footer">
        <p class="text-center"><small>Not a member yet? <a id="signup-alternative" href="#signup-modal" data-toggle="modal">Create account</a></small></p>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /#signin-modal -->
