<div class="modal fade" id="signup-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="container-fluid">
          <div class="sign-fb-gplus text-center">
            <div class="row">
              <div class="col-sm-6"><a href="#" title="Sign up with Facebook" class="btn btn-sm btn-block btn-facebook"><i class="fa fa-facebook"></i> Facebook</a></div>
              <div class="col-sm-6"><a href="#" title="Sign up with Google+" class="btn btn-sm btn-block btn-google-plus"><i class="fa fa-google-plus"></i> Google+</a></div>
            </div> <!-- .row -->
          </div>
          <p class="text-center">or with your email</p>
          <form class="user-form-signup">
                  <div class="form-group">
              <label for="email" class="form-control-label">Email Address:</label>
              <input type="email" class="form-control" id="email" name="email">
                  </div>
                  <div class="form-group">
              <label for="pass" class="form-control-label">Password:</label>
              <input type="password" class="form-control" id="pass">
                  </div>
                  <div class="form-group">
                    <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" name="agreeterm"> <small class="form-text text-muted">By creating an account, you're agreeing with our
<a href="#" title="">Terms and Conditions</a> and <a href="#" title="">Privacy Statement</a>.</small>
              </label>
                  </div>
                  <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary btn-block">Create an account</button>
                  </div>
              </form>
          </div> <!-- .container-fluid -->
      </div> <!-- .modal-body -->
      <div class="modal-footer">
        <p class="text-center"><small>Sign in to reveal exclusive deals and book faster! <a id="signin-alternative" href="#signin-modal" data-toggle="modal">Sign in</a></small></p>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /#signup-modal -->
