<!DOCTYPE html>
<html>
<head>
  <%= require('html-loader!./partials/header/head.html') %>
  <title><%= htmlWebpackPlugin.options.title %></title>

  <%= require('html-loader!./partials/header/g-fonts.html') %>
</head>
<body>
  <div id="page" class="hfeed site">
      <header id="masthead" class="site-header masthead" role="banner">
        <div class="container-fluid">
          <nav class="navbar navbar-toggleable-md">
            <div class="navbar-brand mr-sm-0 mr-md-5">
              <%= require('html-loader!./partials/header/header-logo.html') %>
            </div> <!-- .site-branding -->

            <div class="collapse navbar-collapse justify-content-end hidden-md-down">
              <%= require('html-loader!./partials/header/header-navigation.html') %>
            </div> <!-- .navbar-collapse -->

            <div class="navbar-toggler">
              <%= require('html-loader!./partials/header/header-mobile-menu-icon.html') %>
            </div> <!-- .navbar-toggler -->

          </nav> <!-- .navbar -->
        </dv> <!-- .container-fluid -->
      </header> <!-- #header -->

      <div id="content" class="site-content">
        <div class="container">
          <div class="row">

            <div id="primary" class="content-area col-md-8">
              <main id="main" class="site-main" role="main">
                <h1>Booking page</h1>
                <p class="lead">Main content goes here...</h1>
              </main> <!-- #main -->
            </div> <!-- #primary -->

            <aside id="secondary" class="sidebar widget-area col-md-4" role="complementary">
              <h2>All widget will goes here...</h2>
            </aside> <!-- .widget-area -->
          </div> <!-- .row -->
        </div> <!-- .container -->
      </div> <!-- #content -->

      <footer id="colophon" class="site-footer mastfoot" role="contentinfo">
        <%= require('html-loader!./partials/footer/footer-site-info.html') %>
      </footer> <!-- .site-footer -->
  </div> <!-- #pager -->

  <%= require('html-loader!./partials/components/menu-mobile-alt.html') %>

  <%= require('html-loader!./partials/components/modal-signin.html') %>
  <%= require('html-loader!./partials/components/modal-signup.html') %>

</body>
</html>
